@model IEnumerable<PlayerListModel>

@{
    ViewData["Title"] = "Remove Player";
}

<h2>@ViewData["Title"]</h2>

<h4>Choose the unassigned player you wish to remove:</h4>

<form asp-action="Remove" method="post">
    <div class="col-sm-5">
        <div class="form-group">
            <select name="PlayerId" asp-items="@Model.Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString() })"
                    class="form-control"></select>
        </div>
    </div>

    <input type="submit" value="Remove Player" class="btn btn-danger" />
</form>
