@model TournamentListModel

@{
    ViewData["Title"] = "Remove Tournament";
}

<h2>@ViewData["Title"]</h2>

<h4>Are you sure you want to delete <b>@Model.Name</b>?</h4>

<h4>In order to successfully delete this tournament, there must be <b class="text-danger">no unresolved bets</b> related to it!</h4>

<form asp-action="Remove" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Confirm" class="btn btn-danger" />
    <a asp-action="All" class="btn btn-default">Back to list</a>
</form>
